services:
  postgres:
    image: postgres:latest
    container_name: movieflix_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - movieflix_data:/var/lib/postgresql

volumes:
  movieflix_data:
